---
layout:  home
author_profile: false
title: "Free and Open Source Governance"
header:
    overlay_color: "#4090c5"
    overlay_filter: "0.5"
    overlay_image: 
intro:
- excerpt: "<p>An indexed collection of governance documents from Free and Open Source Software (FOSS) projects.</p><p>A tool for people wishing to learn more about governance in FOSS.</p>"

feature_row:
    - image_path: /assets/images/books-twemoji-cc_by.svg
      alt: "Stack of books, from Twemoji, licensed CC BY"
      title: "Visit the collection"
      excerpt: "The collection itself is hosted on <a href=\"https://www.zotero.org/groups/2310183/foss_governance/items\">Zotero</a>, a research tool that's also Free Software."
      url: "https://www.zotero.org/groups/2310183/foss_governance/items"
      btn_label: "Visit the Collection"
      btn_class: "btn--primary"
    - image_path: /assets/images/gift-twemoji-cc_by.svg
      alt: "Gift, from Twemoji, licensed CC BY"
      title: "Contribute!"
      excerpt: "The collection becomes more useful as more people contribute. Lend a hand!"
      url: "/contribute/"
      btn_label: "Contribute"
      btn_class: "btn--primary"
    - image_path: /assets/images/speaking_head-twemoji-cc_by.svg
      alt: "Speaking head, from Twemoji, licensed CC BY"
      title: "Join the conversation"
      excerpt: "Have questions? Share how you use the collection? Join us on `#fossgovernance` on Libera Chat IRC"
      url: "https://web.libera.chat/#fossgovernance"
      btn_label: "IRC web chat"
      btn_class: "btn--primary"
---

<!-- This text is in the "intro" array above -->
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
